html {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

a:link {color: white;}
a:visited {color: goldenrod;}
a:hover {color: steelblue;}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.topnav {
    background-color: steelblue;
    overflow: hidden;
    top: 0;
    padding: 15px;
    width: 100%;
    position: sticky;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#iconContent {
    align-content: center;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

#iconContent img{
    height: 30px;
    width: 30px;
    padding: 20px;
}
#contactIcons {
    align-content: center;
    display: flex;
    flex-direction: row;
}

#contactIcons img {
    height: 30px;
    width: 30px;
    padding: 20px
}

.boxed {
    /*border: 1px solid green ;*/
    margin-top: 70px;
    height: 430px;
    width: 830px;
    float: right;
    margin-left: 20px;
    margin-right: 40px;
}

.accordion {
    width: 100%;
    overflow: hidden;
    background-color: steelblue;
    color: white;
}

.panel {padding-left: 30px;}
* {box-sizing: border-box;}

.accordion:after {
    content: '+';
    font-size: 20px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '-';
    color: white
}

span {
    padding: 20px;
    background: steelblue;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: steelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

/* Create two columns that float next to each other */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-right: 50px;
    padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #2D3033;
    max-width: 450px;
    margin: auto;
    text-align: center;
}


title {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
}

/* footer */
.navbar {
    background-color: steelblue;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}